<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBServer1" value="Server=192.168.0.247\SQLEXPRESS;Database=SHAMAN;User ID=sa;Password=yeike;" />
    <!--<add key="Interval" value="40000" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebAppsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://paramedicapps.com.ar:57772/csp/shaman/WebServices.WebApps.cls"
        binding="basicHttpBinding" bindingConfiguration="WebAppsSoap"
        contract="WSWebApps.WebAppsSoap" name="WebAppsSoap" />
    </client>
  </system.serviceModel>
</configuration>
